.table,
tr,
td,
th {
    width: 50%;


    text-align: center;


}

.payment{
    display: flex;
    flex-direction: column;
    padding: 10%;
    
    
    h1,h2{
        text-align: center;
    }

}
.pay_menu{
    width: 70%;
    form{
       
        margin-bottom: 10px;
    }
    form:hover{
        box-shadow:10px 10px 10px 10px;
    }
   span{
    
   }

}
.payment_container {
    display: flex;
    flex-direction: column;
    align-items: center;

 
   
    button {
        margin-top:40px 0;
        margin-bottom: 10px;
    }
}

.table {
    margin: 10px 0;



    td:hover {
        box-shadow: 10px 10px 10px 10px;

    }


}
@media screen and (max-width: 343px) {
    
   
}